@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
*{
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}
h1 {
    color: antiquewhite
    text-align: center;
    font-size: 1.5em;
}
form {
    text-align: center;
}
.imagen {
    display: flex;
    justify-content: center;
}
img {
    width: 60%;
    color:white;
}
.contorno {
    background-color: rgba(24, 116, 119, 0.747);
    margin: 2% auto !important;
    width: 80%;
    /* la altura se rompe cuando achico mucho la ventana  */
    height: 545px;
    border-radius: 11px;
    padding: 1.5%;
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    font-size: 1.3em;
}
input[type=submit],[type=text] {
    height: 35px;
    width: 25%;
    color: rgba(24, 116, 119, 0.747);
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(24, 116, 119, 0.747);
    text-align: center;
}
input[type=submit]:hover {
    background-color:rgba(24, 116, 119, 0.747);
    color: antiquewhite;
    border: 2px solid antiquewhite;
}
input[type=submit]{
    width: 10%;
     height: 38px;
     border-color: antiquewhite;
}
/**************************** subir.php****************************************/
.resultado {
    margin-top: 6%;
    padding: 1%;
    text-align: center;
    color: antiquewhite;
}





